<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Inscription</title>
    <link href="{{ asset('img/favicon.ico')}}" rel="shortcut icon"/>
    <link rel="stylesheet" href="{{ asset('css/bootstrap.min.css')}}"/>
    <style>
        body{
            background: no-repeat 100% url("{{ asset('frontoffice/img/background/avion.jpg') }}");
            background-size: cover;

        }
    </style>


</head>
<body>

<div class="container-scroller">
    <div class="container-fluid page-body-wrapper full-page-wrapper">
        <div class="row w-100 d-flex align-items-center justify-content-center">
            <div class="content-wrapper full-page-wrapper d-flex align-items-center auth login-bg">
                <div class="card col-lg-12 mt-5 mx-auto" style="background-color: rgba(255,255,255,0.75)">
                    <div class="card-body px-5 py-5 ">
                        {% if app.user %}
                            <div class="mb-3">
                                You are logged in as {{ app.user.username }}, <a href="{{ path('app_logout') }}">Logout</a>
                            </div>
                        {% else %}
                            <h3 class="card-title text-left mb-3">
                                réinitialisez votre mot de passe</h3>
                            {{ form_start(form, {'attr': {'novalidate' : 'novalidate'}}) }}

                            <div class="form-group">

                                {{ form_label(form.email,"Votre email ") }}
                                {{ form_errors(form.email)  }}
                                {{ form_widget(form.email , {'attr':{'class':'form-control p_input'}}) }}
                            </div>

                            <div class="text-center d-flex justify-content-around">
                                {{ form_row(form.submit, {'attr': {'class' : 'btn btn-warning btn-block enter-btn text-white'}} ) }}

                            </div>
                            {{ form_end(form) }}
                        {% endif %}
                    </div>
                </div>
            </div>
            <!-- content-wrapper ends -->
        </div>
        <!-- row ends -->
    </div>
    <!-- page-body-wrapper ends -->
</div>

<script src="{{ asset('assets/js/off-canvas.js') }}"></script>
<script src="{{ asset('assets/js/hoverable-collapse.js') }}"></script>
<script src="{{ asset('assets/js/misc.js') }}"></script>
<script src="{{ asset('assets/js/settings.js') }}"></script>
<script src="{{ asset('assets/js/todolist.js') }}"></script>
</body>
</html>