<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Réinisialisation</title>
    <link href="{{ asset('img/favicon.ico')}}" rel="shortcut icon"/>
    <link rel="stylesheet" href="{{ asset('css/bootstrap.min.css')}}"/>
    <style>
        body{
            background: no-repeat 100% url("{{ asset('frontoffice/img/background/rest.jpg') }}");
            background-size: cover;

        }
    </style>


</head>
<body>

<div class="container-scroller">
    <div class="container-fluid page-body-wrapper full-page-wrapper">
        <div class="row w-100 h-100 d-flex align-items-center justify-content-center">
            <div class="content-wrapper full-page-wrapper d-flex align-items-center  login-bg">
                <div class="card col-lg-12  mx-auto" style="background-color: rgba(255,255,255,0.75)">
                    <div class="card-body px-5 py-5 ">
                        {% if app.user %}
                            <div class="mb-3">
                                You are logged in as {{ app.user.username }}, <a href="{{ path('app_logout') }}">Logout</a>
                            </div>
                        {% else %}
                            <form method="post">
                                <h3 class="card-title text-left mb-3">
                                    Réinisialisation du mot de passe
                                </h3>

                                <label for="inputPassword" class="">Nouveau mot de passe*</label>
                                <input type="password" name="password" id="inputPassword" class="form-control" placeholder="Password" required>
                                <input type="hidden" name="token" value="{token}">
                                <div class="text-center mt-2">
                                    <button style="background-color: #FFB320;color:white" class="btn mt-2 ml-0" type="submit">
                                        Envoyer !
                                    </button>
                                </div>
                            </form>
                        {% endif %}
                    </div>
                </div>
            </div>
            <!-- content-wrapper ends -->
        </div>
        <!-- row ends -->
    </div>
    <!-- page-body-wrapper ends -->
</div>

<script src="{{ asset('assets/js/off-canvas.js') }}"></script>
<script src="{{ asset('assets/js/hoverable-collapse.js') }}"></script>
<script src="{{ asset('assets/js/misc.js') }}"></script>
<script src="{{ asset('assets/js/settings.js') }}"></script>
<script src="{{ asset('assets/js/todolist.js') }}"></script>
</body>
</html>