{% extends 'base.html.twig' %}

{% block title %}Employées{% endblock %}

{% block body %}
<div class="content-wrapper">
<section class="content">
<div class="container-fluid">
<div class="card">
              <div class="card-header">
                <h3 class="card-title">List des employées</h3>
                <br> 
                <br>
                <a  class="btn btn-success" href="{{ path('Employer') }}"> Exporter PDF </a>
                <form method="post" action="{{path('searchEmployer')}}"  >
              
                 <div class="btn-group card-tools "  style="margin:5px ;width: 163px;">
                 
                    <button type="button" class="btn btn-success"><i class="fa fa-level-up" aria-hidden="true"></i>  Trier la liste</button>
                    <button type="button" class="btn btn-success dropdown-toggle" data-toggle="dropdown">
                      <span class="sr-only">Toggle Dropdown</span>
                    </button>
                    <div class="dropdown-menu" role="menu">
                      <a class="dropdown-item" href="{{ path('triEmployer',{'type' : "nomPrenom"}) }}">Nom et prenom</a>
                      <a class="dropdown-item" href="{{ path('triEmployer',{'type': "idem"}) }}">Id</a>
                    </div>
                  </div>
                  <br> 
              
                  <select name="ud" id="ud" class="btn btn-success" style="margin:5px ;width: 163px;" >
                        <option value="" selected disabled hidden class="btn btn-success" disabled>Critére recherche</option>
                        <option value="idem" class="btn btn-success" {% if ud == 'idem' %} selected {% endif %}>Id</option>
                        <option value="nomPrenom" class="btn btn-success" {% if ud == 'nomPrenom' %} selected {% endif %}>Nom et Prenom</option>
                  </select>
                  <div class="input-group input-group-sm "   style="margin:5px ;width: 163px;">
                  <input type="text" name="searchEmployer" class="form-control" value="{{searchEmployer}}" placeholder="Search">
                  <div class="input-group-append">
                          <button type="submit" class="btn btn-default">
                            <i class="fas fa-search"></i>
                          </button>
                  </div>
                  </div>
                </form>
                
              </div>
              <!-- /.card-header -->
              <div class="card-body table-responsive p-0">
              <a href="{{ path('addEmployer') }}">Add employer</a>
              
                <table class="table table-hover text-nowrap">
                  <thead>
                    <tr>
                      <th>Id</th>
                      <th>Nom et prenom</th>
                      <th>Telephone</th>
                      <th>Adresse</th>
                      <th>Image</th>
                      <th>salaire</th>
                      <th>Job</th>
                      <th>Action</th>
                    </tr>
                  </thead>
                  <tbody>
                  {% for c in employes %}
                    <tr>
                      <td>{{c.idEM}}</td>
                      <td>{{c.nomPrenom}}</td>
                      <td>{{c.telephone}}</td>
                      <td>{{c.adresse}}</td>
                      <td><img src="{{asset('uploads/images/')}}{{c.picture}}" width="52" height="52" > </img></td>
                      <td>{{c.salaire}}</td>
                      <td>{{c.jobEM.jobEM}}</td>
                      <td>
                        <a href="{{ path('deleteEmployer',{'id':c.idEM}) }}">Delete</a>
                        <a href="{{ path('updateEmployer',{'id':c.idEM}) }}">Update</a>
                        
                      </td>
                    </tr>
                    {% endfor %}
                  </tbody>
                </table>
              </div>
              <!-- /.card-body -->
            </div>
            <!-- /.card -->
            </div>
            <div class="utf_pagination_container_part margin-bottom-70">
        <nav class="pagination">
          <ul>
             <li>{{ knp_pagination_render(employes) }}</li>
          </ul>
        </nav>
      </div>
            </div>
            </section>
{% endblock %}

