<!DOCTYPE html>
<html lang="en">

<head>

    <!-- Basic -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <!-- Mobile Metas -->
    <meta name="viewport" content="width=device-width, maximum-scale=1, initial-scale=1, user-scalable=0">

    <!-- Site Metas -->  
    <title>{% block title %}Ajouter une Reservation{% endblock %}</title>

    <meta name="keywords" content="">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Site Icons -->
    <link rel="shortcut icon" href="Front/images/favicon.ico" type="image/x-icon" />
    <link rel="apple-touch-icon" href="Front/images/apple-touch-icon.png">
    {% block stylesheets %}
        <link rel="shortcut icon" href="{{ asset('images/favicon.ico') }}" type="image/x-icon" />
        <link rel="apple-touch-icon" href="{{asset('images/apple-touch-icon.png') }}">

        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="{{ asset('css/bootstrap.min.css')}}">
        <!-- Site CSS -->
        <link rel="stylesheet" href="{{asset('css/style.css')  }}">
        <!-- Responsive CSS -->
        <link rel="stylesheet" href="{{ asset('css/responsive.css') }}">
        <!-- color -->
        <link id="changeable-colors" rel="stylesheet" href="{{asset('css/colors/orange.css') }}" />

        <!--select option -->
        <link rel="stylesheet" href="{{ asset('refreshimg/styleselectoption.css') }}">


    {% endblock %}
  {% block javascripts %}
  
        <!-- Modernizer -->
        <script src="{{ asset('js/modernizer.js') }}"></script>
        <script src="{{ asset('js/all.js') }}"></script>
        <script src="{{ asset('js/bootstrap.min.js') }}"></script>
        <!-- ALL PLUGINS -->
        <script src="{{ asset('js/custom.js') }}"></script>
        <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
        <![endif]-->
        

<script>
var expanded = false;

function showCheckboxes() {
  var checkboxes = document.getElementById("checkboxes");
    
  var checkboxes2 = document.getElementsByName("decoration");
            
            var result = "";
            var idsD = [];
  

            for (var i = 0; i < checkboxes2.length; i++) {
                if (checkboxes2[i].checked) {
                    result += checkboxes2[i].value 
                        + "*";
                    idsD.push(checkboxes2[i].value);
                }
            }
            
            //alert("Decoration selectionne: " + result+" tab : "+idsD.join(","));
            
            var inputF = document.getElementById("Tvofdecoration");
            
            inputF.value =  idsD ;

  if (!expanded) {
    checkboxes.style.display = "block";
    expanded = true;
  } else {
    checkboxes.style.display = "none";
    expanded = false;
  }
}


</script>

        <script>
            function closeDiv(){
            document.getElementById("notification").style.display=" none";
            }
            window.setTimeout( closeDiv, 3000 );
        </script>
{% endblock %}


</head>

<body>
 <div id="site-header">
        <header id="header" class="header-block-top">
            <div class="container">
                <div class="row">
                    <div class="main-menu">
                        <!-- navbar -->
                        <nav class="navbar navbar-default" id="mainNav">
                            <div class="navbar-header">
                                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                                    <span class="sr-only">Toggle navigation</span>
                                    <span class="icon-bar"></span>
                                    <span class="icon-bar"></span>
                                    <span class="icon-bar"></span>
                                </button>
                                <div class="logo">
                                    <a class="navbar-brand js-scroll-trigger logo-header" href="#">
                                       <img src="Front/images/logo.png" alt="">
                                    </a>
                                </div>
                            </div>
                            <div id="navbar" class="navbar-collapse collapse">
                                <ul class="nav navbar-nav navbar-right">
                                    <li><a href="/frontbase">Home</a></li>
                                    <li><a href="#menu">Menu</a></li>
                                    <li><a href="#our_team">Team</a></li>
                                    <li><a href="/evenement">Evenement</a></li>
                                    <li><a href="/TableAReservre">Reservation</a></li>
                                    <li class="active"><a href="/addReclam">Reclamation</a></li>
                                </ul>
                            </div>
                            <!-- end nav-collapse -->
                        </nav>
                        <!-- end navbar -->
                    </div>
                </div>
                <!-- end row -->
            </div>
            <!-- end container-fluid -->
        </header>
        <!-- end header -->
    </div>
	<!-- end site-header -->
    <div id="footer" class="footer-main">


    <div class="special-menu pad-top-100 parallax">
        <div class="container">
                {% for message in app.flashes('info')%}
                  <div id="notification" class="alert alert-success">
                  {{message}}
                  <button type="button" class="close" style="color:white" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                  </div>
                {% endfor %}
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div id="reservation" class="wow fadeIn" data-wow-duration="1s" data-wow-delay="0.1s">
                        <h2 class="block-title color-white text-center"> Reservation </h2>
                        <h5 class="title-caption text-center">
                        </h5>
                    </div>
                    <div class="special-box">
                        <div id="owl-demo">
                            <!--{ for t in tableRestos %}-->
                                <div class="item item-type-zoom" >
                                    <a href="#" class="item-hover">
                                    <!--{ path('ConfirmerReservation',{'id':t.idT}) }}-->
                                        <div class="item-info">
                                            <div class="headline">
                                                {% if t.Vip == 'Oui' %}
                                                    Vip
                                                {% endif %}
                                                <div class="line"></div>
                                                <div class="dit-line">
                                                    Prix : {{t.Prix}} DT
                                                    <br>
                                                    Nombre de place{{t.NbrPlace}}
                                                </div>
                                            </div>
                                        </div>
                                    </a>
                                    <div class="item-img" >
                                        <img src="{{asset('uploads/images/')}}{{t.ImageTable}}" style="background-attachment: fixed;" alt="sp-menu">
                                    </div>
                                </div>
                            <!--{ endfor %}-->
                        </div>
                        
                        
                    </div>
                    <!-- end special-box -->
                </div>
                <!-- end col -->
            </div>
            <!-- end row -->
        </div>
        <!-- end container -->
    </div>
    <!-- end special-menu -->
    <div  class="reservations-main pad-top-100 pad-bottom-100">
        <div class="container">
            <div class="row">
                <div class="form-reservations-box">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        
                            
                        {{ form_start(form) }}
                            <div class="wow fadeIn col-lg-12 col-md-12 col-sm-12 col-xs-12" data-wow-duration="1s" data-wow-delay="0.1s">
                                <h2 class="block-title text-center">
                                    Choisir la date de votre reservation
                                </h2>
                            </div>
                             <div class="wow fadeIn col-lg-12 col-md-12 col-sm-12 col-xs-12" data-wow-duration="1s" data-wow-delay="0.1s">
                                <select name="datereservation" id="datereservation" class="form-controle" style="color:white;background-color: #FF4500;padding:30px;font-weight:bold;font-size: 18px;">
                                    <option value="" selected disabled hidden class="form-controle" style="color:white;background-color: #FF4500;" disabled>Date du reservation</option>
                                    {% for d in datetimetrs %}
                                        <option value="{{d.iddt}}" >{{d.date | date}}</option>
                                    {% endfor %}
                                </select>
                            </div>
                            <div class="wow fadeIn col-lg-12 col-md-12 col-sm-12 col-xs-12" data-wow-duration="1s" data-wow-delay="0.1s">
                                <h2 class="block-title text-center">
                                    Vous pouvez ajouter des decoration
                                </h2>
                            </div>
                            <hr>
                             <div class="wow fadeIn col-lg-12 col-md-12 col-sm-12 col-xs-12" data-wow-duration="1s" data-wow-delay="0.1s">
                                <div class="multiselect">
                                    <div class="selectBox" onclick="showCheckboxes()"  >
                                    <select name="decoration"  class="form-controle"  style="color:white;background-color: #FF4500;padding:30px;font-weight:bold;font-size: 18px;">
                                        <option>Decoration du reservation</option>
                                    </select>
                                    <div name="decorationreservation" class="overSelect"></div>
                                    </div>
                                    <div   id="checkboxes" style="color:white;background-color: #FF4500;" >
                                        {% for d in decorations %}
                                        <label for="{{d.idD}}">
                                            <input   style="margin: 5px" type="checkbox" id="{{d.idD}}" value="{{d.idD}}" name="decoration" />
                                            <img src="{{asset('uploads/images/')}}{{d.ImageD}}" width="100" height="100" style="margin: 5px">
                                            {{d.nom}} ({{d.prix}} DT) 
                                            
                                        </label>
                                        {% endfor %}
                                    </div>
                                    
                                    
                                </div>
                                
                                    <input type='hidden' id='Tvofdecoration' name='Tvofdecoration' />
                                <!--select multiple="multiple" name="decorationreservation" id="decorationreservation" class="form-controle" style="color:white;background-color: #FF4500;padding:30px;font-weight:bold;font-size: 18px;">
                                    <option value="" selected disabled hidden class="form-controle" style="color:white;background-color: #FF4500;" disabled>Decoration du reservation</option>
                                    % for d in decorations %}
                                        <option value="{d.idD}}" >{d.nom}}</option>
                                    % endfor %}
                                </select-->
                            </div>
                            <!-- end col -->
                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12" style="visibility: hidden;">
                                <div class="form-box">
                                    <label>{{form_widget(form.datemodification, {'attr': {'class': 'hidden-row'}} )}}</label>
                                    {% if form_errors(form.datemodification) is not empty %}
                                        <div class="alert alert-danger" >{{ form_errors(form.datemodification) }}</div>
                                    {% endif %}
                                </div>
                            </div>
                            <!-- end col -->
                            
                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12" style="visibility: hidden;">
                                <div class="form-box">
                                    {{form_label(form.datemodification,'Date de modification', {'attr': {'class': 'hidden-row'}} )}}
                                </div>
                            </div>
                            <!-- end col -->
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                <div class="reserve-book-btn text-center">
                                    {{form_widget(form.Enregistrer, {'attr': {'class': 'hvr-underline-from-center'}}) }}
                                </div>
                            </div>
                            <!-- end col -->
                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12" style="visibility: hidden;">
                                <div class="form-box">
                                    {{form_label(form.idu,'Id utilisateur', {'attr': {'class': 'hidden-row'}} )}}
                                </div>
                            </div>
                            <!-- end col -->
                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12" style="visibility: hidden;">
                                <label>
                                    <div class="form-box">
                                        {{form_widget(form.idu, {'attr': {'class': 'hidden-row' }} )}}
                                    </div>
                                </label>
                            </div>
                            <!-- end col -->
                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12" style="visibility: hidden;">
                                <div class="form-box">
                                    {{form_label(form.datecreation,'Date de creation', {'attr': {'class': 'hidden-row'}} )}}
                                </div>
                            </div>
                            <!-- end col -->
                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12" style="visibility: hidden;">
                                <div class="form-box">
                                    <label>{{form_widget(form.datecreation, {'attr': {'class' : 'hidden-row' }} )}}</label>
                                </div>
                            </div>
                            <!-- end col -->
                        {{ form_end(form) }}
                        <!-- end form -->
                    </div>
                    <!-- end col -->
                </div>
                <!-- end reservations-box -->
            </div>
            <!-- end row -->
        </div>
        <!-- end container -->
    </div>
    <!-- end reservations-main -->
    
                        


        <div class="footer-box pad-top-70">
            <div class="container">
                <div class="row">
                    <div class="footer-in-main">
                        <div class="footer-logo">
                            <div class="text-center">
                                <img src="Front/images/logo.png" alt="" />
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                            <div class="footer-box-a">
                                <h3>About Us</h3>
                                <p>Aenean commodo ligula eget dolor aenean massa. Cum sociis nat penatibu set magnis dis parturient montes.</p>
                                <ul class="socials-box footer-socials pull-left">
                                    <li>
                                        <a href="#">
                                            <div class="social-circle-border"><i class="fa  fa-facebook"></i></div>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <div class="social-circle-border"><i class="fa fa-twitter"></i></div>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <div class="social-circle-border"><i class="fa fa-google-plus"></i></div>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <div class="social-circle-border"><i class="fa fa-pinterest"></i></div>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <div class="social-circle-border"><i class="fa fa-linkedin"></i></div>
                                        </a>
                                    </li>
                                </ul>

                            </div>
                            <!-- end footer-box-a -->
                        </div>
                        <!-- end col -->
                        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                            <div class="footer-box-b">
                                <h3>New Menu</h3>
                                <ul>
                                    <li><a href="#">Italian Bomba Sandwich</a></li>
                                    <li><a href="#">Double Dose of Pork Belly</a></li>
                                    <li><a href="#">Spicy Thai Noodles</a></li>
                                    <li><a href="#">Triple Truffle Trotters</a></li>
                                </ul>
                            </div>
                            <!-- end footer-box-b -->
                        </div>
                        <!-- end col -->
                        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                            <div class="footer-box-c">
                                <h3>Contact Us</h3>
                                <p>
                                    <i class="fa fa-map-signs" aria-hidden="true"></i>
                                    <span>Z.I Chotrana II - B.P. 160 Pôle Technologique
                                    2083 Cite El Ghazala Raoued</span>
                                </p>
                                <p>
                                    <i class="fa fa-mobile" aria-hidden="true"></i>
                                    <span>
									+216 44 518 295 
								</span>
                                </p>
                                <p>
                                    <i class="fa fa-envelope" aria-hidden="true"></i>
                                    <span><a href="#">LaFourchette@esprit.tn</a></span>
                                </p>
                            </div>
                            <!-- end footer-box-c -->
                        </div>
                        <!-- end col -->
                        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                            <div class="footer-box-d">
                                <h3>Opening Hours</h3>

                                <ul>
                                    <li>
                                        <p>Monday - Thursday </p>
                                        <span> 11:00 AM - 9:00 PM</span>
                                    </li>
                                    <li>
                                        <p>Friday - Saturday </p>
                                        <span>  11:00 AM - 5:00 PM</span>
                                    </li>
                                </ul>
                            </div>
                            <!-- end footer-box-d -->
                        </div>
                        <!-- end col -->
                    </div>
                    <!-- end footer-in-main -->
                </div>
                <!-- end row -->
            </div>
            <!-- end container -->
            <div id="copyright" class="copyright-main">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <h6 class="copy-title">La Fourchette <a href="#" target="_blank"></a> </h6>
                        </div>
                    </div>
                    <!-- end row -->
                </div>
                <!-- end container -->
            </div>
            <!-- end copyright-main -->
        </div>
        <!-- end footer-box -->
    </div>
    </body>
</html>
