{% extends 'front.html.twig' %}

{% block title %}Ajouter une Reservation{% endblock %}
{% block javascripts %}
<script>
var expanded = false;

function showCheckboxes() {
  var checkboxes = document.getElementById("checkboxes");
  if (!expanded) {
    checkboxes.style.display = "block";
    expanded = true;
  } else {
    checkboxes.style.display = "none";
    expanded = false;
  }
}

    $(document).ready(function() {
        $("button").click(function(){
            var idsD = [];
            $.each($("input[name='decoration']:checked"), function(){
                idsD.push($(this).val());
            });
            alert("Decoration selectionne: " + idsD.join(", "));
        });
    });
</script>
{% endblock %}
{% block body %}

    <div class="special-menu pad-top-100 parallax">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div id="reservation" class="wow fadeIn" data-wow-duration="1s" data-wow-delay="0.1s">
                        <h2 class="block-title color-white text-center"> Reservation </h2>
                        <h5 class="title-caption text-center">
                        </h5>
                    </div>
                    <div class="special-box">
                        <div id="owl-demo">
                            <!--{ for t in tableRestos %}-->
                                <div class="item item-type-zoom" >
                                    <a href="#" class="item-hover">
                                    <!--{ path('ConfirmerReservation',{'id':t.idT}) }}-->
                                        <div class="item-info">
                                            <div class="headline">
                                                {% if t.Vip == 'Oui' %}
                                                    Vip
                                                {% endif %}
                                                <div class="line"></div>
                                                <div class="dit-line">
                                                    Prix : {{t.Prix}} DT
                                                    <br>
                                                    Nombre de place{{t.NbrPlace}}
                                                </div>
                                            </div>
                                        </div>
                                    </a>
                                    <div class="item-img" >
                                        <img src="{{asset('uploads/images/')}}{{t.ImageTable}}" style="background-attachment: fixed;" alt="sp-menu">
                                    </div>
                                </div>
                            <!--{ endfor %}-->
                        </div>
                        
                        
                    </div>
                    <!-- end special-box -->
                </div>
                <!-- end col -->
            </div>
            <!-- end row -->
        </div>
        <!-- end container -->
    </div>
    <!-- end special-menu -->
    <div  class="reservations-main pad-top-100 pad-bottom-100">
        <div class="container">
            <div class="row">
                <div class="form-reservations-box">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        
                            
                        {{ form_start(form) }}
                            <div class="wow fadeIn col-lg-12 col-md-12 col-sm-12 col-xs-12" data-wow-duration="1s" data-wow-delay="0.1s">
                                <h2 class="block-title text-center">
                                    Choisir la date de votre reservation
                                </h2>
                            </div>
                             <div class="wow fadeIn col-lg-12 col-md-12 col-sm-12 col-xs-12" data-wow-duration="1s" data-wow-delay="0.1s">
                                <select name="datereservation" id="datereservation" class="form-controle" style="color:white;background-color: #FF4500;padding:30px;font-weight:bold;font-size: 18px;">
                                    <option value="" selected disabled hidden class="form-controle" style="color:white;background-color: #FF4500;" disabled>Date du reservation</option>
                                    {% for d in datetimetrs %}
                                        <option value="{{d.iddt}}" >{{d.date | date}}</option>
                                    {% endfor %}
                                </select>
                            </div>
                            <div class="wow fadeIn col-lg-12 col-md-12 col-sm-12 col-xs-12" data-wow-duration="1s" data-wow-delay="0.1s">
                                <h2 class="block-title text-center">
                                    Vous pouvez ajouter des decoration
                                </h2>
                            </div>
                            <hr>
                             <div class="wow fadeIn col-lg-12 col-md-12 col-sm-12 col-xs-12" data-wow-duration="1s" data-wow-delay="0.1s">
                                <div class="multiselect">
                                    <div class="selectBox" onclick="showCheckboxes()"  >
                                    <select   class="form-controle"  style="color:white;background-color: #FF4500;padding:30px;font-weight:bold;font-size: 18px;">
                                        <option>Decoration du reservation</option>
                                    </select>
                                    <div name="decorationreservation" class="overSelect"></div>
                                    </div>
                                    <div   id="checkboxes" style="color:white;background-color: #FF4500;" >
                                        {% for d in decorations %}
                                        <label for="{{d.idD}}">
                                            <input style="margin: 5px" type="checkbox" id="{{d.idD}}" value="{{d.idD}}" name="decoration" />
                                            <img src="{{asset('uploads/images/')}}{{d.ImageD}}" width="100" height="100" style="margin: 5px">
                                            {{d.nom}} ({{d.prix}} DT) 
                                            
                                        </label>
                                        {% endfor %}
                                    </div>
                                    
                                </div>
                                <!--select multiple="multiple" name="decorationreservation" id="decorationreservation" class="form-controle" style="color:white;background-color: #FF4500;padding:30px;font-weight:bold;font-size: 18px;">
                                    <option value="" selected disabled hidden class="form-controle" style="color:white;background-color: #FF4500;" disabled>Decoration du reservation</option>
                                    % for d in decorations %}
                                        <option value="{d.idD}}" >{d.nom}}</option>
                                    % endfor %}
                                </select-->
                            </div>
                            <!-- end col -->
                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12" style="visibility: hidden;">
                                <div class="form-box">
                                    <label>{{form_widget(form.datemodification, {'attr': {'class': 'hidden-row'}} )}}</label>
                                    {% if form_errors(form.datemodification) is not empty %}
                                        <div class="alert alert-danger" >{{ form_errors(form.datemodification) }}</div>
                                    {% endif %}
                                </div>
                            </div>
                            <!-- end col -->
                            
                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12" style="visibility: hidden;">
                                <div class="form-box">
                                    {{form_label(form.datemodification,'Date de modification', {'attr': {'class': 'hidden-row'}} )}}
                                </div>
                            </div>
                            <!-- end col -->
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                <div class="reserve-book-btn text-center">
                                    {{form_widget(form.Enregistrer, {'attr': {'class': 'hvr-underline-from-center'}}) }}
                                </div>
                            </div>
                            <!-- end col -->
                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12" style="visibility: hidden;">
                                <div class="form-box">
                                    {{form_label(form.idu,'Id utilisateur', {'attr': {'class': 'hidden-row'}} )}}
                                </div>
                            </div>
                            <!-- end col -->
                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12" style="visibility: hidden;">
                                <label>
                                    <div class="form-box">
                                        {{form_widget(form.idu, {'attr': {'class': 'hidden-row' }} )}}
                                    </div>
                                </label>
                            </div>
                            <!-- end col -->
                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12" style="visibility: hidden;">
                                <div class="form-box">
                                    {{form_label(form.datecreation,'Date de creation', {'attr': {'class': 'hidden-row'}} )}}
                                </div>
                            </div>
                            <!-- end col -->
                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12" style="visibility: hidden;">
                                <div class="form-box">
                                    <label>{{form_widget(form.datecreation, {'attr': {'class' : 'hidden-row' }} )}}</label>
                                </div>
                            </div>
                            <!-- end col -->
                        {{ form_end(form) }}
                        <!-- end form -->
                    </div>
                    <!-- end col -->
                </div>
                <!-- end reservations-box -->
            </div>
            <!-- end row -->
        </div>
        <!-- end container -->
    </div>
    <!-- end reservations-main -->
    
                        

{% endblock %}
