{% extends 'base.html.twig' %}

{% block title %}Réservations{% endblock %}

{% block body %}
<div class="content-wrapper">
<section class="content">
<div class="container-fluid">
<div class="card"  style="margin:5px">
              <div class="card-header"  style="background-color:#4d4d4d;color:white" >
                <h3 class="card-title"  style="font-weight: bold">List des reservations</h3>

                <div class="card-tools">
                  <div class="input-group input-group-sm" style="width: 150px;">
                    <input type="text" name="table_search" class="form-control float-right" placeholder="Search">

                    <div class="input-group-append">
                      <button type="submit" class="btn btn-default">
                        <i class="fas fa-search"></i>
                      </button>
                    </div>
                  </div>
                </div>
              </div>
              <!-- /.card-header -->
              <div class="card-body table-responsive p-0">
                <table class="table table-hover text-nowrap" style="text-align: center;">
                  <thead>
                    <tr>
                      <!--<th>Id</th>-->
                      <th>Utilisateur</th>
                      <th>Date de création</th>
                      <th>Date de modification</th>
                      <th>Action</th>
                    </tr>
                  </thead>
                  <tbody>
                  {% for r in reservations %}
                    <tr>
                      <td>{{r.idU.nomprenom}}</td>
                      
                      </td>
                      <td>{{r.DateCreation | date}}</td>
                      <td>{{r.DateModification | date}}</td>
                      <td>
                        <button type="submit" class="btn btn-primary " style="margin:5px">
                          <a href="{{ path('showReservation',{'id':r.idR}) }}" 
                          style="color:white;">
                            <i class="fas fa-edit" ></i>
                            Detaille
                          </a>
                        </button>
                        <br>
                        <button type="submit" class="btn btn-success " style="margin:5px">
                          <a href="{{ path('updateReservation',{'id':r.idR}) }}" 
                          style="color:white;">
                            <i class="fas fa-edit" ></i>
                            Modifier 
                          </a>
                        </button>
                        <br>
                        <button type="submit" class="btn btn-danger " style="margin:5px">
                          <a href="{{ path('deleteReservation',{'id':r.idR}) }}" 
                          style="color:white;">
                            <i class="fas fa-trash" ></i>
                            Supprimer 
                          </a>
                        </button>
                      </td>
                    </tr>
                    {% endfor %}
                  </tbody>
                </table>
              </div>
              <!-- /.card-body -->
            </div>
            <!-- /.card -->
            </div>
            </div>
            </section>
{% endblock %}
