{% extends 'base.html.twig' %}

{% block title %}Modifier une Reservation{% endblock %}

{% block body %}

    

<div class="content-wrapper">
    <section class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1>Modifier une Reservation</h1>
          </div>
        </div>
      </div>
    </section>
    <div class="form-group">
        <section class="content">
            <div class="container-fluid p-10">
                <div class="row">
                    <div class="col-md-12">
                        <div class="card card-primary">
                            <div class="card-header">
                                <h3 class="card-title">Modifier une Reservation</h3>
                            </div>
                        
                            {{ form_start(form) }}
                            <div class="card-body">

                                <div class="form-group col-md-6 float-left">
                                    {{form_label(form.idu,'Id utilisateur', {'attr': {'class': 'form-control'}} )}}
                                    <label>{{form_widget(form.idu, {'attr': {'class': 'form-control' }} )}}</label>
                                </div>
                                <div class="form-group col-md-6 float-right">
                                    {{form_label(form.datecreation,'Date de creation', {'attr': {'class': 'form-control'}} )}}
                                    <label>{{form_widget(form.datecreation, {'attr': {'class' : 'form-control' }} )}}</label>
                                </div>

                                <div class="form-group col-md-6 float-left">
                                    {{form_label(form.datemodification,'Date de modification', {'attr': {'class': 'form-control'}} )}}
                                    {{form_widget(form.datemodification, {'attr': {'class': 'form-control'}} )}}
                                    {% if form_errors(form.datemodification) is not empty %}
                                        <div class="alert alert-danger" >{{ form_errors(form.datemodification) }}</div>
                                    {% endif %}
                                </div>
                            </div>
                            

                            <div class="card-footer">
                                {{form_widget(form.Enregistrer, {'attr': {'class': 'btn btn-primary  '}} )}}
                            </div>
                    
                            
                            {{ form_end(form) }}
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>

{% endblock %}
