{% extends 'base.html.twig' %}

{% block body %}
<div class="content-wrapper">
{{ form_start(form) }}
<div class="form-group">
<section class="content">
<div class="container-fluid p-10">
    {{form_label(form.idu,'Id utilisateur', {'attr': {'class': 'form-control'}} )}}
    {{form_widget(form.idu, {'attr': {'class': 'form-control'}} )}}
    {{form_label(form.datecreation,'Date de création', {'attr': {'class': 'form-control'}} )}}
    {{form_widget(form.datecreation, {'attr': {'class': 'form-control'}} )}}
    {{form_label(form.datemodification,'Date de modification', {'attr': {'class': 'form-control'}} )}}
    {{form_widget(form.datemodification, {'attr': {'class': 'form-control'}} )}}
</div>
{{ form_end(form) }}
</section>
</div>
</div>
{% endblock %}