{% extends 'base.html.twig' %}

{% block body %}
<div class="content-wrapper">
    <div class="form-group">
        {{ form_start(form)}}
        <section class="content">
            <div class="container-fluid p-10">
                {{form_label(form.idf,'Fournisseur id', {'attr': {'class': 'form-control'}} )}}
                {{form_widget(form.idf, {'attr': {'class': 'form-control'}} )}}
                {% if form_errors(form.idf) is not empty %}
                    <div class="alert alert-danger" >{{ form_errors(form.idf) }}</div>
                {% endif %}
                {{form_label(form.nomprod,'Nom produit', {'attr': {'class': 'form-control'}} )}}
                {{form_widget(form.nomprod, {'attr': {'class': 'form-control'}} )}}
                {% if form_errors(form.nomprod) is not empty %}
                    <div class="alert alert-danger" >{{ form_errors(form.nomprod) }}</div>
                {% endif %}
            </div>
        </section>
    </div>
{{ form_end(form) }}
</div>
{% endblock %}