{% extends 'Back/Back-base.html.twig' %}

{% block body %}
<div class="content-wrapper">
    <section class="content">
        <div class="container-fluid p-10">
         <div class="card card-secondary">
              <div class="card-header">
                <h3 class="card-title">Ajouter un nouveau produit</h3>
              </div>
              <div class="card-body">
            {{ form_start(form,{'attr': {'novalidate':'novalidate'}}) }}
            <div class="form-group">
                {{form_label(form.idf,'Fournisseur id')}}
                {{form_widget(form.idf, {'attr': {'class': 'form-control'}} )}}
                {% if form_errors(form.idf) is not empty %}
                    <div class="alert alert-danger" >{{ form_errors(form.idf) }}</div>
                {% endif %}
            </div>
            <div class="form-group">
                {{form_label(form.nomprod,'Nom produit')}}
                {{form_widget(form.nomprod, {'attr': {'class': 'form-control'}} )}}
                {% if form_errors(form.nomprod) is not empty %}
                    <div class="alert alert-danger" >{{ form_errors(form.nomprod) }}</div>
                {% endif %}
            </div>
            <div class="form-group"></div>
            {{ form_end(form) }}
        </div>
    </section>
</div>


</div>
</div>
{% endblock %}