{% extends 'base.html.twig' %}

{% block title %}Produit fournisseur{% endblock %}

{% block body %}
<div class="content-wrapper">
  <section class="content">
    <div class="container-fluid">
      <div class="card">
        <div class="card-header">
            <h3 class="card-title">List des fournisseur avec produit</h3>
            <div class="card-tools">
              <div class="input-group input-group-sm" style="width: 150px;">
                <input type="text" name="table_search" class="form-control float-right" placeholder="Search">
                <div class="input-group-append">
                  <button type="submit" class="btn btn-default">
                    <i class="fas fa-search"></i>
                  </button>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col">
              <a class="btn btn-success" href="{{ path('addProduitFournisseur') }}">Ajouter un nouveau produit</a>
            </div>
            <div class="col">
              <a class="btn btn-success" href="{{ path('addPdf') }}">Génerer un reçu en PDF</a>
            </div>
          </div>
          <!-- /.card-header -->
          <div class="card-body table-responsive p-0">
            <table class="table table-hover text-nowrap">
              <thead>
                <tr>
                  <th>IdF</th>
                  <th>Nom</th>
                  <th>Telephone</th>
                  <th>Email</th>
                  <th>Level</th>
                  <th>Produit(s)</th>
                  <th>Action</th>
                </tr>
              </thead>
              <tbody>
              {% for p in pf %}
                <tr>
                  <td>{{p.idF}}</td>
                  <td>{{p.nomF}}</td>
                  <td>{{p.telephoneF}}</td>
                  <td>{{p.emailF}}</td>
                  <td>{{p.lvl}}</td>
                  <td>{{p.nomProd}}</td>
                  <td>
                    <a class="btn btn-danger" href="{{ path('deleteProduitFournisseur',{'id':p.idF}) }}">Supprimer</a>
                  </td>
                </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>
          <!-- /.card-body -->
      </div>
          <!-- /.card -->
    </div>
  </section>
</div>
{% endblock %}
