{% extends 'base.html.twig' %}

{% block body %}
<div class="content-wrapper">
    <div class="form-group">
        {{ form_start(form)}}
        <section class="content">
            <div class="container-fluid p-10">
                {{form_label(form.nomProd,'Nom produit', {'attr': {'class': 'form-control'}} )}}
                {{form_widget(form.nomProd, {'attr': {'class': 'form-control'}} )}}
                {% if form_errors(form.nomProd) is not empty %}
                    <div class="alert alert-danger" >{{ form_errors(form.nomProd) }}</div>
                {% endif %}
                {{form_label(form.quantite,'Quantité', {'attr': {'class': 'form-control'}} )}}
                {{form_widget(form.quantite, {'attr': {'class': 'form-control'}} )}}
                {% if form_errors(form.quantite) is not empty %}
                    <div class="alert alert-danger" >{{ form_errors(form.quantite) }}</div>
                {% endif %}
                {{form_label(form.prix,'Prix', {'attr': {'class': 'form-control'}} )}}
                {{form_widget(form.prix, {'attr': {'class': 'form-control'}} )}}
                {% if form_errors(form.prix) is not empty %}
                    <div class="alert alert-danger" >{{ form_errors(form.prix) }}</div>
                {% endif %}
                {{form_label(form.image,'Image', {'attr': {'class': 'form-control'}} )}}
                {{form_widget(form.image, {'attr': {'class': 'form-control'}} )}}
                {% if form_errors(form.image) is not empty %}
                    <div class="alert alert-danger" >{{ form_errors(form.image) }}</div>
                {% endif %}
            </div>
        </section>
    </div>
{{ form_end(form) }}
</div>
{% endblock %}

