{% extends 'base.html.twig' %}

{% block title %}Produits{% endblock %}

{% block body %}
<div class="content-wrapper">
  <section class="content">
    <div class="container-fluid">
      <div class="card">
        <div class="card-header">
            <h3 class="card-title">List des produits</h3>
            <div class="card-tools">
              <div class="input-group input-group-sm" style="width: 150px;">
                <input type="text" id="search" name="table_search" class="form-control float-right" placeholder="Search">
                <div class="input-group-append">
                  <button type="submit" class="btn btn-default">
                    <i class="fas fa-search"></i>
                  </button>
                </div>
              </div>
            </div>
          </div>
          <a class="btn btn-success" href="{{ path('addProduit') }}">Ajouter un nouveau produit</a>
          <!-- /.card-header -->
          <div class="card-body table-responsive p-0">
            <table id="t" class="table table-hover text-nowrap">
              <thead>
                <tr>
                  <th>NomProd</th>
                  <th>Quantité</th>
                  <th>Prix</th>
                  <th>Image</th>
                  <th>Action</th>
                </tr>
              </thead>
              <tbody id="all">
              {% for p in produits %}
                <tr>
                  <td>{{p.nomProd}}</td>
                  <td>{{p.quantite}}</td>
                  <td>{{p.prix}}</td>
                  
                  <td><img src="{{'uploads/images/' ~ p.image}}" alt="{{p.image}}" height="52" width="52"></td>
                  {# <td><img src="{{asset('uploads/images/')}}{{p.image}}" alt="{{p.image}}" height="52" width="52"></td> #}
                  <td>
                    <a class="btn btn-outline-success" href="{{ path('sendmail',{'id':p.nomProd}) }}">Commander</a>
                    <a class="btn btn-info" href="{{ path('updateProduit',{'id':p.nomProd}) }}">Modifier</a>
                    <a class="btn btn-danger" href="{{ path('deleteProduit',{'id':p.nomProd}) }}">Supprimer</a>
                  </td>
                </tr>
                {% endfor %}
              </tbody>
              
              <tbody id="search">
              </tbody>
            </table>
             
          </div>
        <div class="card-footer clearfix">
                {{ knp_pagination_render(produits) }}
      </div>
          <!-- /.card -->
    </div>
  </section>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script>
        $(document).ready(function () {
            $("#search").keyup(function (e) {
                var value = $(this).val();
                $.ajax({
                    url: "{{ path('search_produit') }}",
                    type: 'GET',
                    data: {
                        'searchValue': value
                    },
                    success: function (retour) {
                        if (retour) {
                            $('#t tbody#search').empty();
                            $.each(JSON.parse(retour), function (i, obj) {
                              console.log(obj.image)
                                $('#t tbody#all').hide();
                                $('#t tbody#search').append(
                                    ' <tr></td><td>    ' + obj.nomprod + '' +
                                    '  </td><td>' + obj.quantite + '' +
                                    '  </td><td>' + obj.prix + '' +
                                    '  </td><td><img height="52" width="52" src="uploads/images/' + obj.image + '">' +
                                    '  </td><td> <a class="btn btn-outline-success" href="/sendmail/'+obj.nomprod+'">Commander</a>'+
                                    '  <a class="btn btn-info" href="/updateProduit/'+obj.nomprod+'">Modifier</a>'+
                                    '  <a class="btn btn-danger" href="/deleteProduit/'+obj.nomprod+'">Supprimer</a>'+
                                    '  </td></tr>');
                            });
                        } else {
                            $('#t tbody#all').show();
                            $('#t tbody#search').empty();
                            $('#t tbody#search').fadeIn('fast');
                        }
                    },
                });
                return false;
            });
        });
    </script>
{% endblock %}
