{% extends 'frontcommantaire.html.twig' %}



{% block body %}
    <div id="blog" class="blog-main pad-top-100 pad-bottom-100 parallax">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <h2 class="block-title text-center">
                        Liste Des Commentaires
                    <br>
                    <li><a href="/frontbase">Home</a></li>
                    </h2>
                </div></div></div></div>
    <!-- boun
     <div class="blog-box clearfix">
    <div class="wow fadeIn" data-wow-duration="1s" data-wow-delay="0.1s">
        <div class="col-md-6 col-sm-6">

            <div class="blog-block">
                <div class="blog-img-box">
                    <img src="{ asset('uploads/images/') }}{{ e.imageE }}" alt="" />
                    <div class="overlay">
                        <a href=""><i class="fa fa-link" aria-hidden="true"></i></a>
                    </div>
                </div>
                <div class="blog-dit">

                    <h2>{ e.designationE }}</h2>
                    <p><span>{ e.descriptionE }}</span></p>
                    <p><span>{ e.dateE ? e.dateE|date('Y-m-d') }}</span></p>
                    <p><span>{ e.nbrParticipants }}</span></p>
                </div>
            </div>
        </div>-->
        <!-- end col -->

    </div>
    <!-- DIRECT CHAT -->
    <div class="card direct-chat direct-chat-primary">
    <div class="card-header">


        <div class="card-tools">

            <button type="button" class="btn btn-tool" data-card-widget="collapse">
                <i class="fas fa-minus"></i>
            </button>
            <button type="button" class="btn btn-tool" title="Contacts" data-widget="chat-pane-toggle">
                <i class="fas fa-comments"></i>
            </button>
            <button type="button" class="btn btn-tool" data-card-widget="remove">
                <i class="fas fa-times"></i>
            </button>
        </div>
    </div>
    <!-- /.card-header -->
    <div class="card-body">
        <!-- Conversations are loaded here -->
        <div class="direct-chat-messages">
            {% for c in comentaires %}
                {% for u in utilisateurs %}

                        <div  {% if u.idU == app.user.id %}  class="direct-chat-msg right"  {% else %}  class="direct-chat-msg "{% endif %}>




                        {% if c.idU.idu == u.idU %}
                            <div class="direct-chat-infos clearfix">
                        <span {% if u.idU == app.user.id %}  class="direct-chat-name float-right"  {% else %}  class= "direct-chat-name float-left" {% endif %} >
                            {{u.nomprenom}}
                            </span>

                            </div>
                            <img class="direct-chat-img" src="{{ asset('uploads/images/') }}{{ u.picture }}" alt="message user image">
                            <div class="direct-chat-text">
                                {{ c.commantaire }}

                            </div>

                            <a  class="fa fa-heart" href="{{ path('like',{'idC': c.idco}) }}"> {{ c.nbrlike}} like </a>

                        {% endif %}

                {% endfor %}
                <!-- /.direct-chat-img -->


                </div>

            {% endfor %}
            <!-- Message to the right -->



        </div>
        <!--/.direct-chat-messages-->

    </div>


{% endblock %}