{% extends 'frontcommantaire.html.twig' %}

{% block body %}
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <h2 class="block-title text-center">
            Evenements&Commantaires
        </h2>
    <!-- boun
     <div class="blog-box clearfix">
    <div class="wow fadeIn" data-wow-duration="1s" data-wow-delay="0.1s">
        <div class="col-md-6 col-sm-6">

            <div class="blog-block">
                <div class="blog-img-box">
                    <img src="{{ asset('uploads/images/') }}{{ e.imageE }}" alt="" />
                    <div class="overlay">
                        <a href=""><i class="fa fa-link" aria-hidden="true"></i></a>
                    </div>
                </div>
                <div class="blog-dit">

                    <h2>{{ e.designationE }}</h2>
                    <p><span>{{ e.descriptionE }}</span></p>
                    <p><span>{{ e.dateE ? e.dateE|date('Y-m-d') }}</span></p>
                    <p><span>{{ e.nbrParticipants }}</span></p>





                </div>
            </div>
        </div>-->


        <!-- end col -->

    </div>
    <!-- DIRECT CHAT -->
    <div class="card direct-chat direct-chat-primary">
    <div class="card-header">
        <h3 class="card-title">Commentaires</h3>

        <div class="card-tools">
            <span title="3 New Messages" class="badge badge-primary">3</span>
            <button type="button" class="btn btn-tool" data-card-widget="collapse">
                <i class="fas fa-minus"></i>
            </button>
            <button type="button" class="btn btn-tool" title="Contacts" data-widget="chat-pane-toggle">
                <i class="fas fa-comments"></i>
            </button>
            <button type="button" class="btn btn-tool" data-card-widget="remove">
                <i class="fas fa-times"></i>
            </button>
        </div>
    </div>
    <!-- /.card-header -->
    <div class="card-body">
        <!-- Conversations are loaded here -->
        <div class="direct-chat-messages">
            {% for c in comentaires %}
                {% for u in utilisateurs %}
                    {% if u.idU ==5 %}
                        <div class="direct-chat-msg right">
                        {% if c.idU == u.idU %}
                            <div class="direct-chat-infos clearfix">
                        <span class="direct-chat-name float-right">
                            {{u.nomprenom}}
                            </span>

                            </div>
                            <img class="direct-chat-img" src="{{ asset('uploads/images/') }}{{ u.picture }}" alt="message user image">
                            <div class="direct-chat-text">
                                {{ c.commantaire }}
                            </div>
                        {% endif %}
                    {% endif %}
                {% endfor %}
                <!-- /.direct-chat-img -->


                </div>

            {% endfor %}
            <!-- Message to the right -->

            {% for c in comentaires %}
                {% for u in utilisateurs %}
                    {% if u.idU !=5 %}
                        <div class="direct-chat-msg ">
                        {% if c.idU == u.idU %}
                            <div class="direct-chat-infos clearfix">
                        <span class="direct-chat-name float-left">
                            {{u.nomprenom}}
                            </span>
                            </div>

                            <img class="direct-chat-img" src="{{ asset('uploads/images/') }}{{ u.picture }}" alt="message user image">
                            <div class="direct-chat-text">
                                {{ c.commantaire }}
                            </div>
                        {% endif %}
                    {% endif %}
                {% endfor %}
                <!-- /.direct-chat-img -->
                </div>
            {% endfor %}

        </div>
        <!--/.direct-chat-messages-->

    </div>


{% endblock %}