{% extends 'Front/OurFront.html.twig' %}



{% block body %}
        <div class="footer-news pad-top-100 pad-bottom-70 parallax">
            <div id="reclamation" class="container">
                <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <div class="wow fadeIn" data-wow-duration="1s" data-wow-delay="0.1s">
                            <h2 class="ft-title color-white text-center" style="color:LightGray"> Reclamation </h2>
                            <p> Type your reclamation ..</p>
                        </div>
                         {{ form_start(form,{'attr': {'novalidate':'novalidate'}}) }}
                         
                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12" style="color:Tomato">
                                <div class="form-box">
                                     {{ form_row(form.typerec, {'attr':{'placeholder': 'typerec...'}}) }}
                                      
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12" style="color:Tomato">
                                <div class="form-box">
                                    {{ form_row(form.etatrec, {'attr':{'placeholder': 'En attente','disabled':'disabled'}}) }}
                                    
                                </div>
                            </div>
                            <!-- end col -->
                             
                            
                            <!-- end col -->
                            
                            <div class="col-lg-12 col-md-6 col-sm-6 col-xs-12" style="color:Tomato">
                                <div class="form-box">
                                     {{ form_row(form.description, {'attr':{'placeholder': 'description...'}}) }}
                                       {% if form_errors(form.description) is not empty %}
                                     <div class="alert alert-danger" >{{ form_errors(form.description) }}</div>
                                     {% endif %}
                                </div>
                            </div>
                           
                            <!-- end col -->
                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12" style="color:Tomato">
                                <div class="form-box" style="visibility:hidden;" >
                                   {{ form_row(form.idu, {'attr':{'placeholder': 'idu...'}}) }}
                                  
                                </div>
                            </div>
                            <input type="hidden" name="currentuser" value="{{app.user.getId()}}"/>
                            <!-- end col -->
                            <div class="col-lg-6 col-md-2 col-sm-6 col-xs-12">
                                <div class="reserve-book-btn text-center center">
                                    <button class="hvr-underline-from-center fa fa-paper-plane-o " type="submit" value="SEND" id="submit"> Envoyer <i class="fa fa-paper-plane-o" aria-hidden="true"></i></button>
                                    
                                </div>
                            </div>
                            <!-- end col -->

                                
                        {{ form_end(form) }}
                    </div>
                    <!-- end col -->
                </div>
                <!-- end row -->
                {% for message in app.flashes('info')%}
    <div id="notif" class="alert alert-success">
    {{message}}
    </div>
    {% endfor %}
            </div>
            <!-- end container -->
        </div>
        <!-- end footer-news -->
        
{% endblock %}