{% extends 'Back/Back-base.html.twig' %}



{% block body %}
<div class="content-wrapper">
<section class="content">
<div class="container-fluid">
<div class="card">
              <div class="card-header">
                <h3 class="card-title btn btn-primary">Liste des Réclamations</h3>

                <div class="card-tools">
                  <div class="input-group input-group-sm" style="width: 150px;">
                    <input type="text" name="table_search" class="form-control float-right" placeholder="Search">

                    <div class="input-group-append">
                      <button type="submit" class="btn btn-default">
                        <i class="fas fa-search"></i>
                      </button>
                    </div>
                  </div>
                </div>
              </div>
              <!-- /.card-header -->
              <div class="card-body table-responsive p-0">
                <table class="table table-hover text-nowrap">
                  <thead>
                    <tr>
                      <th>Id</th>
                      <th>Type de réclamation</th>
                      {# <th>Id user</th> #}
                      <th>Description</th>
                      <th>Etat</th>
                      <th>Action</th>
                    </tr>
                  </thead>
                  <tbody>
                  {% for p in reclams %}
                    <tr>
                      <td>{{p.idRec}}</td>
                      <td>{{p.typeRec.typeRec}}</td>
                      {# <td>{{p.idU}}</td> #}
                    
                      <td>{{p.description}}</td>
                      <td>{{p.etatRec}}</td>
                      <td>
                        <a class="btn btn-danger" href="{{ path('deleteReclam',{'id':p.idRec}) }}">Delete</a>
                        <a class="btn btn-warning" href="{{ path('updateReclam',{'id':p.idRec}) }}">Update</a>
                      </td>
                    </tr>
                    {% endfor %}
                  </tbody>
                </table>
              </div>
              <!-- /.card-body -->
            </div>
            <!-- /.card -->
            </div>
            </div>
            </section>
{% endblock %}
