{% extends 'Back/Back-base.html.twig' %}

{% block title %}Commande{% endblock %}

{% block body %}
<div class="content-wrapper">
<section class="content">
<div class="container-fluid">
<div class="card">
              <div class="card-header">
                <h3 class="card-title">List des commandes</h3>

                <div class="card-tools">
                  <div class="card-tools float left">
                    <div class="input-group card-tools" style="margin:5px ;width: 163px;">
                      <a class="btn btn-success float-left" href="{{ path('PDF_Commande') }}"><i class="fas fa-file-pdf"></i>  Exporter liste  PDF  </a>
                    </div>
                  </div>

                </div>
              </div>
              <!-- /.card-header -->
              <div class="card-body table-responsive p-0">
                <table class="table table-hover text-nowrap">
                  <thead>
                    <tr>
                      <th>Id</th>
                      <th>Utilisateur</th>
                      <th>Plats</th>
                      <th>Quantity</th>
                      <th>Livraison</th>
                      <th>Prix</th>

                      <th>Action</th>
                    </tr>
                  </thead>
                  <tbody>
                  {% for c in commandes %}
                    <tr>
                      <td>{{c.idC}}</td>
                      <td>{{c.idu.nomprenom}}</td>
                      <td>{{ c.referenceplat }}</td>
                      <td>{{c.quantity}}</td>
                      <td>{{c.livraison}}</td>
                      <td>{{c.prixC}}</td>
                      <td>
                        <a href="{{ path('deleteCommande',{'id':c.idC}) }}">Delete</a>
                        <a href="{{ path('updateCommande',{'id':c.idC}) }}">Update</a>
                      </td>
                    </tr>
                    {% endfor %}
                  </tbody>
                </table>
              </div>
              <!-- /.card-body -->
            </div>
            <!-- /.card -->
            </div>
</section>
            </div>

{% endblock %}
