{% extends 'Back/Back-base.html.twig' %}

{% block body %}
<div class="content-wrapper">
{{ form_start(form) }}
<div class="form-group">
<section class="content">
<div class="container-fluid p-10">
    {{form_label(form.idu,'Id Utilisateur', {'attr': {'class': 'form-control'}} )}}
    {{form_widget(form.idu, {'attr': {'class': 'form-control'}} )}}
    {{form_label(form.etatc,'Quantité', {'attr': {'class': 'form-control'}} )}}
    {{form_widget(form.etatc, {'attr': {'class': 'form-control'}} )}}
    {{form_label(form.livraison,'Livraison', {'attr': {'class': 'form-control'}} )}}
    {{form_widget(form.livraison, {'attr': {'class': 'form-control'}} )}}
    {{form_label(form.prixc,'Prix', {'attr': {'class': 'form-control'}} )}}
    {{form_widget(form.prixc, {'attr': {'class': 'form-control'}} )}}
</div>
{{ form_end(form) }}
</section>
</div>
</div>
{% endblock %}