{% extends 'base.html.twig' %}

{% block title %}Commantaire{% endblock %}

{% block body %}
<div class="content-wrapper">
<section class="content">
<div class="container-fluid">
<div class="card">
              <div class="card-header">
                <h3 class="card-title">List des commantaires</h3>

                <div class="card-tools">
                  <div class="input-group input-group-sm" style="width: 150px;">
                    <input type="text" name="table_search" class="form-control float-right" placeholder="Search">

                    <div class="input-group-append">
                      <button type="submit" class="btn btn-default">
                        <i class="fas fa-search"></i>
                      </button>
                    </div>
                  </div>
                </div>
              </div>
              <!-- /.card-header -->
              <div class="card-body table-responsive p-0">
              
                <table class="table table-hover text-nowrap">
                  <thead>
                    <tr>
                      <th>Id</th>
                      <th>Commantaire</th>
                      <th>Nombre like</th>
                      <th>IdU</th>
                      <th>Id event</th>
                      <th>Action</th>
                    </tr>
                  </thead>
                  <tbody>
                  {% for c in commantaires %}
                    <tr>
                      <td>{{c.idCO}}</td>
                      <td>{{c.commantaire}}</td>
                      <td>{{c.nbrlike}}</td>
                      <td>{{c.idU}}</td>
                      <td>{{c.idevent}}</td>
                      <td>
                        <a href="{{ path('deleteCommentaire',{'id':c.idCO}) }}">Delete</a>
                        <a href="{{ path('updateCommentaire',{'id':c.idCO}) }}">Update</a>
                      </td>
                    </tr>
                    {% endfor %}
                  </tbody>
                </table>
              </div>
              <!-- /.card-body -->
            </div>
            <!-- /.card -->
            </div>
            </div>
            </section>
{% endblock %}

