{% extends 'Front/OurFront.html.twig' %}



{% block body %}
                        
    <div class="special-menu pad-top-100 parallax">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div id="reservation" class="wow fadeIn" data-wow-duration="1s" data-wow-delay="0.1s">
                        <h2 class="block-title color-white text-center"> Reservation </h2>
                        <h5 class="title-caption text-center">
                        </h5>
                    </div>
                    <div class="special-box">
                        <div id="owl-demo">
                            {% for t in tableRestos %}
                                <div class="item item-type-zoom" >
                                    <a href="{{ path('ConfirmerReservation',{'id':t.idT}) }}" class="item-hover">
                                        <div class="item-info">
                                            <div class="headline">
                                                {% if t.Vip == 'Oui' %}
                                                    Vip
                                                {% endif %}
                                                <div class="line"></div>
                                                <div class="dit-line">
                                                    Prix : {{t.Prix}} DT
                                                    <br>
                                                    Nombre de place{{t.NbrPlace}}
                                                </div>
                                            </div>
                                        </div>
                                    </a>
                                    <div class="item-img" >
                                        <img src="{{asset('uploads/images/')}}{{t.ImageTable}}" style="background-attachment: fixed;" alt="sp-menu">
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                        
                        
                    </div>
                    <!-- end special-box -->
                </div>
                <!-- end col -->
            </div>
            <!-- end row -->
        </div>
        <!-- end container -->
    </div>
        
{% endblock %}