{% extends 'base.html.twig' %}

{% block title %}Modifier une Decoration{% endblock %}

{% block body %}

<div class="content-wrapper">
    <section class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1>Modifier une Decoration</h1>
          </div>
        </div>
      </div>
    </section>
    <div class="form-group">
        <section class="content">
            <div class="container-fluid p-10">
                <div class="row">
                    <div class="col-md-12">
                        <div class="card card-primary">
                            <div class="card-header">
                                <h3 class="card-title">Modifier une decoration</h3>
                            </div>
                        
                            {{ form_start(form) }}
                            <div class="card-body">
    
                                <div class="form-group col-md-6 float-left">
                                    {{form_label(form.nom,'Nom decoration', {'attr': {'class': 'form-control'}} )}}
                                    {{form_widget(form.nom, {'attr': {'class': 'form-control'}} )}}
                                    {% if form_errors(form.nom) is not empty %}
                                        <div class="alert alert-danger" >{{ form_errors(form.nom) }}</div>
                                    {% endif %}
                                </div>

                                <div class="form-group col-md-6 float-right">
                                    {{form_label(form.prix,'Prix', {'attr': {'class': 'form-control'}} )}}
                                    {{form_widget(form.prix, {'attr': {'class': 'form-control'}} )}}
                                    {% if form_errors(form.prix) is not empty %}
                                        <div class="alert alert-danger" >{{ form_errors(form.prix) }}</div>
                                    {% endif %}
                                </div>
                                <div class="form-group">
                                
                                    {{form_label(form.imaged,'Image', {'attr': {'class': 'form-control'}} )}}
                                    <img src="{{asset("uploads/images/" ~ form.imaged.vars.data)}}" onerror="this.src='{{asset("uploads/images/imagenotfound.png")}}';"  width="300" height="300">
                                    
                                    
                                    <div class="form-group">
                                        {{form_widget(form.imaged,{'attr': {'class': 'form-control'}} )}}
                                    </div>
                                </div>
                                {% if form_errors(form.imaged) is not empty %}
                                    <div class="alert alert-danger" >{{ form_errors(form.imaged) }}</div>
                                {% endif %}
                            </div>
                            

                            <div class="card-footer">
                                {{form_widget(form.Enregistrer, {'attr': {'class': 'btn btn-primary  '}} )}}
                            </div>
                    
                            
                            {{ form_end(form) }}
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>

{% endblock %}



