{% extends 'base.html.twig' %}

{% block title %}Fournisseur{% endblock %}

{% block body %}
<div class="content-wrapper">
<section class="content">
<div class="container-fluid">
<div class="card">
              <div class="card-header">
                <h3 class="card-title">List des fournisseurs</h3>

                <div class="card-tools">
                  <div class="input-group input-group-sm" style="width: 150px;">
                    <input type="text" id="search" name="table_search" class="form-control float-right" placeholder="Search">

                    <div class="input-group-append">
                      <button type="submit" class="btn btn-default">
                        <i class="fas fa-search"></i>
                      </button>
                    </div>
                  </div>
                </div>
              </div>
              <!-- /.card-header -->
              <a class="btn btn-success" href="{{ path('addFournisseur') }}">Ajouter un fournisseur</a>
              <div class="card-body table-responsive p-0">
                <table id="t" class="table table-hover text-nowrap">
                  <thead>
                    <tr>
                      <th>Id</th>
                      <th>Nom</th>
                      <th>Telephone</th>
                      <th>Email</th>
                      <th>Level</th>
                      <th>Action</th>
                    </tr>
                  </thead>
                  <tbody id="all">
                  {% for c in fournisseurs %}
                    <tr>
                      <td>{{c.idF}}</td>
                      <td>{{c.nomF}}</td>
                      <td>{{c.telephoneF}}</td>
                      <td>{{c.emailF}}</td>
                      <td>{{c.lvl}}</td>
                      <td>
                        <a class="btn btn-info" href="{{ path('updateFournisseur',{'id':c.idF}) }}">Modifier</a>
                        <a class="btn btn-danger" href="{{ path('deleteFournisseur',{'id':c.idF}) }}">Supprimer</a>
                      </td>
                    </tr>
                    {% endfor %}
                  </tbody>
                  <tbody id="search">
                  </tbody>
                </table>
              </div>
              <!-- /.card-body -->
            </div>
            <!-- /.card -->
            </div>
            </div>
            </section>

            <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script>
        $(document).ready(function () {
            $("#search").keyup(function (e) {
                var value = $(this).val();
                $.ajax({
                    url: "{{ path('search_fournisseur') }}",
                    type: 'GET',
                    data: {
                        'searchValue': value
                    },
                    success: function (retour) {
                        if (retour) {
                            $('#t tbody#search').empty();
                            $.each(JSON.parse(retour), function (i, obj) {
                              console.log(obj.image)
                                $('#t tbody#all').hide();
                                $('#t tbody#search').append(
                                    ' <tr></td><td>    ' + obj.idf + '' +
                                    '  </td><td>' + obj.nomf + '' +
                                    '  </td><td>' + obj.telephonef + '' +
                                    '  </td><td>' + obj.emailf + '' +
                                    '  </td><td>' + obj.lvl + '' +
                                    '  </td><td><a class="btn btn-info" href="/updateFournisseur/'+obj.idf+'">Modifier</a>'+
                                    '  <a class="btn btn-danger" href="/deleteFournisseur/'+obj.idf+'">Supprimer</a>'+
                                    '  </td></tr>');
                            });
                        } else {
                            $('#t tbody#all').show();
                            $('#t tbody#search').empty();
                            $('#t tbody#search').fadeIn('fast');
                        }
                    },
                });
                return false;
            });
        });
    </script>
{% endblock %}

