
{% extends 'Back/Back-base.html.twig' %}


{% block body %}
<div class="content-wrapper">
{{ form_start(form) }}
<div class="form-group">
<section class="content">
<div class="container-fluid p-10">
    {{form_label(form.reference,'Réference', {'attr': {'class': 'form-control'}} )}}
    {{form_widget(form.reference, {'attr': {'class': 'form-control'}} )}}
    {% if form_errors(form.reference) is not empty %}
        <div class="alert alert-danger" >{{ form_errors(form.reference) }}</div>
    {% endif %}
    {{form_label(form.designation,'Désignation', {'attr': {'class': 'form-control'}} )}}
    {{form_widget(form.designation, {'attr': {'class': 'form-control'}} )}}
        {% if form_errors(form.designation) is not empty %}
                <div class="alert alert-danger" >{{ form_errors(form.designation) }}</div>
        {% endif %}
    {{form_label(form.prix,'Prix', {'attr': {'class': 'form-control','novalidate':'novalidate'}} )}}
    {{form_widget(form.prix, {'attr': {'class': 'form-control','novalidate':'novalidate'}} )}}
        {% if form_errors(form.prix) is not empty %}
                <div class="alert alert-danger" >{{ form_errors(form.prix) }}</div>
        {% endif %}
     {{form_label(form.description,'Description', {'attr': {'class': 'form-control'}} )}}
    {{form_widget(form.description, {'attr': {'class': 'form-control'}} )}}
        {% if form_errors(form.description) is not empty %}
                <div class="alert alert-danger" >{{ form_errors(form.description) }}</div>
        {% endif %}
    {{form_label(form.imagep,'Image', {'attr': {'class': 'form-control'}} )}}
    {{form_widget(form.imagep, {'attr': {'class': 'form-control'}} )}}

     {{form_label(form.nomprod,'Nom produit', {'attr': {'class': 'form-control'}} )}}
    {{form_widget(form.nomprod, {'attr': {'class': 'form-control'}} )}}
        {% if form_errors(form.nomprod) is not empty %}
                <div class="alert alert-danger" >{{ form_errors(form.nomprod) }}</div>
        {% endif %}
</div>
{{ form_end(form) }}
</section>
</div>
</div>
{% endblock %}

