{% extends 'base.html.twig' %}

{% block body %}
<div class="content-wrapper">
{{ form_start(form) }}
<div class="form-group">
<section class="content">
<div class="container-fluid p-10">
    {{form_label(form.nbrplace,'Nombre de place', {'attr': {'class': 'form-control'}} )}}
    {{form_widget(form.nbrplace, {'attr': {'class': 'form-control'}} )}}
    {{form_label(form.etat,'Etat', {'attr': {'class': 'form-control'}} )}}
    {{form_widget(form.etat, {'attr': {'class': 'form-control'}} )}}
    {{form_label(form.imagetable,'Image', {'attr': {'class': 'form-control'}} )}}
    {{form_widget(form.imagetable, {'attr': {'class': 'form-control'}} )}}
    {{form_label(form.vip,'Vip', {'attr': {'class': 'form-control'}} )}}
    {{form_widget(form.vip, {'attr': {'class': 'form-control'}} )}}
    {{form_label(form.prix,'Prix', {'attr': {'class': 'form-control'}} )}}
    {{form_widget(form.prix, {'attr': {'class': 'form-control'}} )}}
</div>
{{ form_end(form) }}
</section>
</div>
</div>
{% endblock %}

